* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.main_div {
  background-color: aquamarine;
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.centre_div {
  height: 80vh;
  width: 60vh;
  border-radius: 40px;
  background-color: white;
  text-align: center;
}
.to-do {
  background-color: rgba(128, 0, 128, 0.742);
  color: white;
  margin: 4vh 0vh;
}
.items {
  margin-top: 5vh;
  border: none;
  outline: none;
  border-bottom: 2px solid  rgba(128, 0, 128, 0.742);
  font-size: 24px;
}
.button {
  border: none ;
  outline: none;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 600;
  padding: 1vh;
  color: white;
  background-color:  rgba(128, 0, 128, 0.742) ;
  margin-left: 2vh;
}
.button:hover {
  background-color: blue;
}
.button:active {
  background-color: rgb(44, 243, 44);
}
ol li {
  text-align: center;
  font-size: 30px;
}
.myOrdered {
  display: flex;
  justify-content: left;
}
.myEx {
 border: 1px solid black; 
 border-radius: 50%;
 font-size: 25px;
 font-weight: 500;
 margin: 1vh 0;
 margin-right: 2vw;
 padding: 4px; 
 color: white;
 background-color:  rgba(128, 0, 128, 0.742) ;
}
.myEx:hover {
  background-color: red;
  cursor: pointer;
}
.myEx:active {
  background-color: brown ;
}